.skillSet__container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    .skills__header_container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
        column-gap: 20px;

        .skillsHeader{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: #CA88F3;
            width: 112px;
            height: 40px;   
            &.active{
                
                background: #7A00FF;;
            }
        }
    }
//********************skill container***************8
    .skill__container {
        margin: 30px 60px;
        .skill__name{
            margin-bottom: 10px;
        }
        .skills__bullet_container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rating__bullets{
                width: 22px; /* 2 * radius */
                height: 22px; /* 2 * radius */
                background-color: #E29ECD;;
                border-radius: 50%; /* Makes the element circular */
                margin: 5px;

            }
            .rating__bullets.rating__bullet_active{
                background-color: #7A00FF;
                box-shadow: (0px 0px 4px #E29ECD);
            }
        }
    
    }
}