@import "../../styles/variables";
.navBar__container{
    background-color: $secondary-bg-color;
    position: fixed;
    width: 100%;
    z-index: 3;
    .navBar__link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 25px;
    height: 100px;
    max-width: 1280px;
      
    .navBar__link{
        color: $primary-font-color;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        
    }
    /* Scale from center */
    .navBar__link::after {
      opacity :1;
      transform: scale(0);
      transform-origin: center;
    }
    
    .navBar__link:hover::after,
    .navBar__link:focus::after{
      transform: scale(1);
    }
}
}