@import "./styles//variables";
body {
  margin: 0;
  font-family:'Poppins',sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-bg-color;
  color: $primary-font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marginBtm{
  margin-bottom: 130px;
}
.marginBtm__80px{
  margin-bottom: 80px;
}